.ref-btns {
  margin-top: 3em;
}

.list-group {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

.top-row {
  background: #2980B9;
  font-weight: bold;
  z-index: 0;
}

.grow:hover {
  /* transform: scale(1.07); */
  border: 1px solid black;
  /* z-index: 1; */
}

.text-profession{
  background: red;
  text-decoration: underline;
}